h1 {
	color: #b32f52;
	font-family: 'Sigmar One', cursive;
	font-weight: normal;
	font-size: 3rem;
	line-height: 1;
	text-align: center;
}

h2 {
	color: #b32f52;
	font-family: 'Sigmar One', cursive;
	font-weight: normal;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
}

h3 {
	color: #b32f52;
	font-family: 'Sigmar One', cursive;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1;
	text-align: center;
}

header {
	background-color: #yellow;
}