h1 {
	color: #b32f52;
	font-family: 'Sigmar One', cursive;
	font-weight: normal;
	font-size: 3rem;
	line-height: 1;
	text-align: center;
}

h2 {
	color: #b32f52;
	font-family: 'Sigmar One', cursive;
	font-weight: normal;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
}

h3 {
	color: #b32f52;
	font-family: 'Sigmar One', cursive;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 1;
	text-align: center;
}

header {
	background-color: #ffe524;
}

nav {
	background-color: #ffe524;
	margin: 2;
}

nav ul {
	list-style-type: none;
	padding: 0.5;
	margin: 0;
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	padding: 1em 1em;
	background-color: #703838;
	text-decoration: none;
	color: white;
	border-radius: 0.5em 